#gameTitle {
    text-align: center;
    place-self: center;
}

#versusArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

@keyframes ease-in {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes ease-out {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.easeIn {
    animation-name: ease-in;
    animation-duration: 1s;
}

.easeOut {
    animation-name: ease-out;
    animation-duration: 1s;
}

#alert {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 9;
    transition-duration: 1s;
    display: grid;
    place-items: center;
    h1 {
        font-weight: 900;
        /* font-size: 3rem; */
        text-wrap: wrap;
        text-align: center !important;
        -webkit-text-stroke: 1px white;
    }
}

.mapArea {
    width: calc(5rem + 60%);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: black;
    gap: 1px;
    border: 1px solid black;
    .highlight {
        background-color: var(--mustard-yellow);
    }
    .blocked {
        background-color: var(--light-grey) !important;
    }
}

#playerBattleGround {
    & div {
        background-color: var(--ocean-deep);
        object-fit: contain;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            position: absolute;
            max-width: 90%;
            max-height: 90%;
        }
    }
    .playerCell {
        position: relative;
    }
}

#CPUBattleGround {
    & div {
        background-color: white;
        object-fit: contain;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            position: absolute;
            max-width: 90%;
            max-height: 90%;
        }
    }
    .CPUCell {
        position: relative;
    }
    .unclickable {
        pointer-events: none;
    }
    .sunk {
        background-color: var(--dark-red);
    }
}

#scoreCard {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark-red);
    color: white;
    position: relative;
    & div {
        text-align: center;
    }
}