@font-face {
    font-family: "Nova Square";
    src: url(./NovaSquare-Regular.ttf);
}

body {
	font-size: 18px;
    font-family: "Nova Square", display;
	--paragraph-space: 2rem;
	--title-space: 1rem;
	font-weight: 400;
}

.space-text-above,
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin-top: var(--paragraph-space);
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: var(--title-space);
}

p + p {
	margin-top: var(--title-space);
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
.space-text-below {
	margin-bottom: var(--paragraph-space);
}

p.bold,
span.bold,
.body-1.bold,
.body-2.bold,
p .bold,
span .bold,
.body-1 .bold,
.body-2 .bold,
p strong,
span strong,
.body-1 strong,
.body-2 strong,
p b,
span b,
.body-1 b,
.body-2 b {
		font-weight: 700;
	}


h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 38px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -0.003em;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -0.002em;
}

h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.001em;
}

h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.001em;
}

h5 {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0em;
}

h6 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0em;
}

p, button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.001em;
}

label, figcaption, input {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.083em;
}

.tooltip {
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.098em;
}

    
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 76px;
        line-height: 84px;
    }
    h2 {
        font-size: 62px;
        line-height: 76px;
    }
    h3 {
        font-size: 48px;
        line-height: 64px;
    }
    h4 {
        font-size: 40px;
        line-height: 60px;
    }
    h5 {
        font-size: 32px;
        line-height: 52px;
    }
    h6 {
        font-size: 26px;
        line-height: 48px;
    }
    p, button {
        font-size: 16px;
        line-height: 24px;
    }
    label, figcaption, input {
        font-size: 12px;
        line-height: 20px;
    }
    .tooltip {
        font-size: 10px;
        line-height: 16px;
    }
}